html {
    font-size: 10px;
}

[data-weather] {
    margin:  20px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 5px solid;
    justify-content: space-around;
    margin: auto;
    font-size: 1.8rem;
}

h1 {
    margin: 2rem;
    font-size: 3rem;
}

h3 {
    font-weight: bold;
}

p {
    margin-bottom: 2rem;
}

hr {
    border: 5px solid grey;
}

.input{
    max-width: 25%;
}

.field-wrapper {
    margin: 1rem;
}
img {
    width: 50px;
}

form {
    margin: 3rem;
}
label {
    font-size: 1.8rem;
}
